<section class="hero-section">
  <div class="hero-container">
    <h1 class="hero-title dm-sans-bold">
      Fullstack Engineer,
      <br />
      <span class="hero-title-highlight">Thoughtful Code</span>
    </h1>
    <p class="hero-description dm-sans-regular">
      I create digital experiences that are both beautiful and functional, with a focus on minimalism and
      user-centered design.
    </p>
    <div class="hero-buttons">
      <button (click)="scrollToWork()" mat-flat-button color="primary" class="hero-button dm-sans-medium">
        View My Work
      </button>
    </div>
  </div>
</section>
