<mat-toolbar color="secondary" class="toolbar">
  <div class="toolbar-content">
    <span class="dm-sans-bold">Portfolio</span>
    
    <div class="nav-buttons">
      <button mat-button class="nav-button dm-sans" aria-label="About section" (click)="scrollToSection('about')">
        About
      </button>
      <button mat-button class="nav-button dm-sans" aria-label="Work section" (click)="scrollToSection('work')">
        Work
      </button>
      <button mat-button class="nav-button dm-sans" aria-label="Contact section" (click)="scrollToSection('contact')">
        Contact
      </button>
    </div>

  </div>
</mat-toolbar>
